<h1 class="h3 mb-3 font-weight-normal">Edit <%= @ticker.pair %> rate</h1>
<div class="text-center">
    <%= render 'shared/flash_messages' %>
    <%= form_for [:admin, @ticker], method: :patch, html:{class: 'form-signin'} do |f| %>

      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control', autofocus: true %>
      <%= f.label :fixed_until %>
      <%= f.datetime_select :fixed_until, class: '' %>

      <%= f.submit 'Save', class: 'btn btn-lg btn-primary btn-block' %>
    <% end %>
</div>
